.hotelHeading{
    font-size: 1.5em;
    font-weight: 900;
    padding:2em 2em 1em 0;
}

.fa-star{
    font-size: 1em;
}

.hotelBrief{
    padding-bottom: 2em;;
}


.AboutList{
        font-size: 17px;
        margin-left: 10px;
        list-style-type: square;
        color:#424242;

}

.checkin.facility-icon{
    color:#424242;
}
.Heading{
    font-weight: bolder;
}
.location{
    font-weight: normal;
}
.AboutHotel-Cont{
    padding:2em 0 2em 0;
}
.facility-inner{
    border-radius: 0.3em;
    padding: 1em;
    background-color: white;
}

.facility-icon{
    padding:3em 0 6em 0;
}

.icon-spacePage{
    padding:5em
}