
.detailCard{
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
}

.btn{
margin: 2rem;
border-radius: 2rem;
background-image: linear-gradient(
    96deg
    ,#53b2fe,#065af3);
box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%);    
}

.assuredTitle{
    padding:0.5em;
    font-size: 0.1;
}

.assuredContainer{
    background-image: linear-gradient(90deg,#f2faff,#fff);;
    border: 1px solid #d4d4d4;
}
.greyText{
    color: gray;
}
.tick{
    height:1.0em;
    width:1.0em;
    margin-right: 0.5em;
}
ul {
    list-style-type: none;
    padding-bottom: 0.2em;
}
li{
    padding:0.2em
}

.assuredBox{
    margin-bottom: 3em;;
}