.topBackground{
    background-color: #beeee5;
    height: 12.3rem;
}
.hotelName{
  font-weight: bolder;
}
.location{
color: darkgrey;
font-size:18px;
}

.priceContainer{
    background-color: white;
    height:18rem;
    width:20rem;
    border-radius: 0.5em;
    box-shadow: -2px 2px 5px 5px rgba(0,0,0,0.14);
    

}

.priceSpace{
    padding:1em;
}

.PriceTitle{
    color: bolder;
}

.left{
    position: relative;
    float:left
}

.right{
    position: relative;
    float:right
}

.ReviewContainer2{
    position: relative;
    float:right;
    padding-top: 0;
}
.ReviewContainer1{
    padding-top: 1em;
}
.ReviewTitle{
    color: #1f4941;
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 0.3em;
   
}
/* .ReviewContainer1{
    padding-top: 0.5em;
    
} */
.card{
    padding:1em;
    
}
.passenger-Outer{
    border-radius: 0.2em;
    margin: 2.5em;
  }

.downArrow{
    float: right;
}
.downArrow1{
    float: right;
}