.card-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 0.2rem;
}
.card-price {
  background-color: #b9b7bd;
  font-size: 2rem;
}

.secondary {
  padding: 1.5rem 0rem;
}

/* .border-secondary{
    border-radius: 15px;

} */
.outer-card {
  /* padding: 1rem; */
  margin: 25px;
  background-color: white;
}

.hotel-detail {
  margin: 1rem 1.5rem 0 3.5rem;
}

.icons {
  height: 20px;
  width: 20px;
  margin: 0.2rem;
}

.icon-space {
  margin: 0.5rem;
}

.border:hover {
  background-color: rgb(218, 244, 245);

  outline-color: blue;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
