.roomsOuter{
    border-radius: 0.2em;
}

.middleBorder{
    border-width: 20em;
}


.cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  .card {
  
  }
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fafafa;
  }
  
  img {
    max-width: 100%;
  }
  
  .cards {
    margin: 0 auto;
    max-width: 960px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  .card header {
    padding: 10px;
    background-color: #0084AD;
      color: #fff;
  }
  
  .card header h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  .card .body {
    padding: 10px;
    font-size: .9rem;
    color: #757575;
  }
  
  .RoomImage{
      padding:1.2em;
      height:250px;
      width:500px;
  }
  .RoomHeading{
      padding :0 0 0.5em 2em;
      color:#0084AD;
  }