/* body {
  background-image: linear-gradient(
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100vh;

} */

img {
  height: 36px;
  width: 113px;
}

.header {
  padding: 0.5rem;
  background-color: white;
}

.span {
  height: 36px;
  width: 113px;
}

.headerTop {
  border-radius: 2px;
}

.searchContainer {
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  margin: 0.5rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  padding: 0;
}

.cardPlace {
  width: 150%;
  padding: 10px 20px;
}

.cardCheck {
  width: 80%;
  padding: 10px 20px;
}

.cardType {
  width: 100%;
  padding: 10px 20px;
}

.action {
  color: #4a4a4a;
  font-weight: bold;
  font-size: small;
}

.button {
  width: fit-content;
  background-image: linear-gradient(96deg, #53b2fe, #065af3);
}

.cardType:hover {
  background-color: rgb(218, 244, 245);
  border-radius: 5px;
}

.cardCheck:hover {
  background-color: rgb(218, 244, 245);
  border-radius: 5px;
}

.cardPlace:hover {
  background-color: rgb(218, 244, 245);
  border-radius: 5px;
}

select {
  border: none;
}

input {
  border: none;
}

.country {
  color: #4a4a4a;
  font-weight: lighter;
  font-size: small;
}

.displayDate {
  display: flex;
  align-items: baseline;
}

.displayRooms {
  display: flex;
  align-items: baseline;
}

.placeRooms {
  display: flex;
  align-items: baseline;
}

.Input {
  background-color: white;
  width: fit-content;
  margin-top: -160px;
  margin-left: 80px;
  padding: 10px;
  position: absolute;
}

.CheckIn {
  background-color: white;
  width: fit-content;
  margin-top: -170px;
  margin-left: 480px;
  padding: 10px;
  position: absolute;
}

.CheckOut {
  background-color: white;
  width: fit-content;
  margin-top: -170px;
  margin-left: 720px;
  padding: 10px;
  position: absolute;
}

.Rooms {
  display: inline-block;
  background-color: white;
  width: fit-content;
  margin-top: -135px;
  margin-left: 770px;
  padding: 10px;
  position: absolute;
}

.checkContainer {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
}

.listContainer {
  display: flex;
  align-self: center;
}

a {
  color: inherit;
}
